[submodule "Beg-STM32-Devel-FreeRTOS-libopencm3-GCC"]
	path = Beg-STM32-Devel-FreeRTOS-libopencm3-GCC
	url = https://github.com/Apress/Beg-STM32-Devel-FreeRTOS-libopencm3-GCC
[submodule "Hands-On-RTOS-with-Microcontrollers"]
	path = Hands-On-RTOS-with-Microcontrollers
	url = https://github.com/PacktPublishing/Hands-On-RTOS-with-Microcontrollers
